<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>找回密码</title>
    <link rel="icon" href="/images/icon.ico">
    <link rel="apple-touch-icon" href="/images/icon.ico">
</head>

<body>
    <span>
        <input type="text" id="userEmail" placeholder="邮箱">
    </span>
    <button id="getCheckNum">获取验证码</button>
    <span>
        <input type="text" id="CheckNum" placeholder="验证码">
    </span>
    <span>
        <input type="password" id="password" placeholder="密码">
    </span>
    <button id="Check">确认修改</button>
    <script>
        window.page_type = 'find_password';
    </script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/identify.js?v=2022_01_27_0"></script>
    <script src="/javascripts/utils.js?v=2022_01_27_0"></script>
    <script src="/javascripts/findPassword.js?v=2022_01_27_0"></script>
</body>

</html>

<!--
    author: Jun_jie Ge
    email:1109189702@qq.com
 -->