/**
 * author: Jun_jie Ge
 * email:1109189702@qq.com
 */

.jumpWebPart {
    height: 240px;
    width: 360px;
    background-color: #ffffff;
    border-radius: 10px;
    position: fixed;
    top: 52px;
    z-index: 4;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 4px solid #fda68d;
    cursor: default;
}

.jumpWebPart_loading-others {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.jumpWebPart_loading-others_part01 {
    padding: 12px;
    border-radius: 4px;
    background: #FDF5E6;
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    color: #fc5531;
}

.jumpWebPart_loading-others_part02 {
    border-radius: 4px;
    display: -webkit-box;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.jumpWebPart_loading-others_part02>a {
    color: #FC5531;
}

.jumpWebPart_loading-others_part03>a {
    font-size: 15px;
    color: #FC5531;
    border: 1px solid #FC5531;
    box-sizing: border-box;
    padding: 3px 30px;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
}



/* 打开图片 */
.img_bigshow_part_part {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.img_bigshow_part_top {
    flex: 9;
    position: relative;
    font-size: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgb(133 144 166);
    overflow: auto;
}

.img_bigshow_part_bottom {
    flex: 1;
    background: rgb(96 114 151);
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.img_bigshow_part_top>img {
    visibility: hidden;
}

.img_bigshow_part_top_img_x {
    height: 100%;
}

.img_bigshow_part_top_img_y {
    width: 100%;
}

.img_bigshow_part_bottom_center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 70%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.img_bigshow_part_bottom_center>a {
    margin: 0 20px;
    cursor: pointer;
    display: inline-block;
    height: 100%;
}

.img_bigshow_part_bottom_center>.img_bigshow_part_hight {
    background: #fafafa;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    border-radius: 5px;
    color: #106ba3;
    font-size: larger;
}

.img_bigshow_part_bottom_center>a>svg {
    height: 100%;
    width: unset;
}

.img_bigshow_part_bottom_center>.img_bigshow_part_hight:hover {
    color: #138bfb;
}

.img_open {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(18, 18, 18, .65);
    z-index: 2;
}

.img_open::before {
    color: #959c9b;
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    z-index: 2;
    content: "点击此处即可退出浏览";
    left: 0;
    right: 0;
    margin: auto;
}

/* 打开图片 */

@media screen and (max-width: 600px) {

    /* 打开图片 */
    .img_bigshow_part_part {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .img_bigshow_part_top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .img_bigshow_part_bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: black;
    }

    .img_bigshow_part_top>img {
        visibility: hidden;
    }

    .img_bigshow_part_top_img_x {
        height: 100%;
    }

    .img_bigshow_part_top_img_y {
        width: 100%;
    }

    .img_bigshow_part_bottom_center {
        margin: auto;
        background: black;
        left: unset;
        top: unset;
        right: 0;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        bottom: 0;
    }

    .img_bigshow_part_bottom_center>a {
        margin: 0 10px;
    }

    .img_bigshow_part_bottom_small {
        color: #106ba3;
        font-size: initial;
        position: relative;
        padding: 0px 5px;
        top: -10px;
        background: unset;
        border-radius: 5px;
    }

    .img_bigshow_part_bottom_center>.img_bigshow_part_hight {
        background: #ffffff;
        color: #106ba3;
        font-size: initial;
        position: relative;
        padding: 0px 5px;
        top: -10px;
    }

    .img_bigshow_part_bottom_center>a>svg {
        height: 40px;
        width: unset;
    }

    .img_bigshow_part_bottom_center>.img_bigshow_part_hight:hover {
        color: #138bfb;
    }

    .img_open {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: rgba(18, 18, 18, .65);
        z-index: 2;
    }

    .img_open::before {
        color: #959c9b;
        font-size: 15px;
        font-weight: bold;
        position: fixed;
        top: 0;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        z-index: 2;
        content: "点击此处即可退出浏览";
        left: 0;
        right: 0;
        margin: auto;
    }

    /* 打开图片 */
}