/**
 * author: Jun_jie Ge
 * email:1109189702@qq.com
 */

.logReg input {
    font-weight: inherit;
}

#loginPart {
    width: 350px;
    height: 300px;
    background-color: white;
    top: 50px;
    position: fixed;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(49 49 49 / 10%);
    -webkit-tap-highlight-color: transparent;
}

.logReg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    background-color: white;
    width: 350px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: fixed;
    z-index: 2;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 2px 6px 1px #48aff0;
    border: 2px solid #03a9f4;
    box-sizing: border-box;
    font-weight: bold;
}

.logByAcc>div>div {
    position: relative;
}

.logByEmail>div>div>div,
.register>div>div>div,
.logByAcc>div>div>div {
    width: 300px;
    display: flex;
    margin: 10px auto;
    position: relative;
}

.logByAcc>div>div>div>span {
    line-height: 50px;
    position: relative;
}

.logByAcc>div>div>div>span:nth-child(2) {
    flex: 1;
    max-width: 180px;
}

.logByAcc>div>div>div>a:nth-child(3) {
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.logByAcc>div>div>div>span>div {
    position: absolute;
    bottom: 9px;
    width: 100%;
    border-bottom: 1px solid black;
}

.logByAcc>div>div>div>span>div>input {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.logReg>div:nth-child(2) {
    min-height: 50px;
    position: relative;
}

.logReg>div:nth-child(2)>div {
    width: 290px;
    height: 40px;
    background-color: #03a9f4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    line-height: 40px;
    font-size: 25px;
}

.logByEmail>div>div:nth-child(2)>div>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 253px;
    height: 35px;
    background-color: blue;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
}

.emailNum>div:nth-child(2)>div {
    position: relative;
    border-bottom: 1px solid #000;
}

.logByEmail>div,
.register>div {
    display: flex;
    flex-direction: column;
}

.logByEmail>div>div,
.register>div>div {
    position: relative;
}

#yanzheng,
#regyanzheng {
    margin: auto;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
}

.register>div>div:nth-child(2)>div>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 253px;
    height: 35px;
    background-color: blue;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
}

.yanzheni>div:nth-child(1),
.regyanzheni>div:nth-child(1) {
    line-height: 50px;
    text-align: left;
}

.yanzheni>div:nth-child(2),
.regyanzheni>div:nth-child(2) {
    width: 180px;
    position: relative;
}

.yanzheni>div:nth-child(2)>div,
.regyanzheni>div:nth-child(2)>div {
    position: absolute;
    bottom: 9px;
    width: 100%;
    border-bottom: 1px solid black;
}

.yanzheni>div:nth-child(2)>div>input,
.regyanzheni>div:nth-child(2)>div>input {
    height: 30px;
    width: 100%;
    padding: 0;
    font-size: 20px;
}

.emailNum>div:nth-child(1),
.regemailNum>div:nth-child(1) {
    line-height: 50px;
}

.emailNum>div:nth-child(2),
.regemailNum>div:nth-child(2) {
    width: 180px;
    position: relative;
}

.emailNum>div:nth-child(2)>div,
.regemailNum>div:nth-child(2)>div {
    position: absolute;
    bottom: 9px;
    width: 100%;
    border-bottom: 1px solid black;
}

.emailNum>div:nth-child(2)>div>input,
.regemailNum>div:nth-child(2)>div>input {
    height: 30px;
    width: 100%;
    padding: 0;
    font-size: 20px;
}

.ChangeButton>div {
    display: flex;
    cursor: pointer;
    margin: 5px 0;
    position: relative;
    border-top: 1px dotted black;
}

.ChangeButton>div>span {
    flex: 1;
    line-height: 25px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}

.ChangeButton>div>span:nth-child(2) {
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#logRegButton:hover {
    background-color: #137cbd;
    color: white;
}

#logRegButton {
    cursor: pointer;
}